body{
    background: black;
}



.main{
    padding: 20px;
    font-family: Arial;
    box-shadow: 1px  1px 7px 5px #edebebf0;
    background: rgb(7, 9, 8);
    position: relative;
    top: 100px;
    left: 280px;
    
}
.main1{
    padding: 20px;
    font-family: Arial;
    box-shadow: 1px  1px 7px 5px #faf7f788;
    background-color: rgb(22, 222, 22);
    top: 100px;
    left: 20px;
    color: rgb(15, 16, 16);
    
}

h2{
    font-size: 36px;
    text-align: center;
    font-family: Arial;
    color: wheat;

}

input{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid #764776;
    box-shadow: 1px  1px 12px 12px #14e83788;
    opacity: .5;
    background: url('lj.jpg');
color: aliceblue;

}

input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #764776;
    border:none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
   
   

}
input::placeholder {
    color:white;
    font-style: italic;
    font-weight: 900;
  }